*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 3500;
}
.header{
     position:fixed ;
    width: 100%;
    height: 50px;
    background-color:rgba(101, 101, 245,0.5);
    padding-right:  25px;
    margin-right: 25px;
    z-index: 10; 
}
.img1{
     width: 100%;
    height: 100vh;
    background-image: url(img/Screenshot\ 2025-06-24\ 135759.png );
   position: relative;
   background-repeat: no-repeat;
}
.img1-overlay{
  position: absolute;
  width: 100%;
  height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.home-content{
color:aliceblue;
  width:60%;
  position: absolute;
   top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;
}

.home-title1{
font-size: 68px;
text-transform:uppercase;
}
.home-p{
color: rgb(22, 24, 26);
margin-top: 10px;
  margin: 15px 0px;
  letter-spacing: 2px;
  font-size: 20px;
  text-transform: capitalize;
}
.home-btn1{
    font-size: 18px;
    border: 0;
    border-radius: 15px;
    text-transform: capitalize;
    padding: 16px 14px;
}
.home-btn1:hover{
    opacity: 0.4;
}
.home-btn2{
    font-size: 18px;
    border: 0;
    border-radius: 15px;
    text-transform: capitalize;
    padding: 16px 14px;
    color: #fff;
    background-color: rgb(101, 101, 245);
}
.home-btn2:hover{
    opacity: 0.4;
}
.homeicon{
    color:black;
    font-size: 50px;
    padding-top:   15px;
    padding-left: 25px;
}
[type="text"]{
    position: relative;
    width:240px ;
    height: 30px;
    background-color: rgb(250, 250, 252);
    border-radius: 20px;
    position: absolute;
    margin-top: 10px;
    margin-left: 25px;
    border: 0;
    
}
.searchicon{
    position: absolute;
   top: 17px;
   font-size: 15px;
   margin-left: 40px;
}
.headerlinks{
    list-style: none;
    float: right;
}
.headerlinks li{
    margin-right: 25px;
   margin-top: 13px; 
    display: inline-block;
}
.headerlinks li a {
    text-decoration: none;
    color: #fff;
    position: relative;
    padding-bottom: 7px;
}

.headerlinks li a:after {
    position: absolute;
    content: "";
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: blue;
    opacity: 0;
}

.headerlinks li a:hover:after {
    width: 100%;
    opacity: 0.8;
    transition: 0.5s;
}

.list-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown {
    position: absolute;
    width: 150px;
    padding: 5px;
    background-color: #fff;
    text-align: center;
    left: 0;
    top: 150%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    z-index: 50;
    border: 1px solid rgb(95, 95, 192);
    border-radius: 10px;
    margin-bottom: 5px;
}

.dropdown li a {
    color: rgb(143, 143, 240);
    display: block;
    padding: 10px 0px;
    text-align: center;
    margin: 0;
}
.list-dropdown:hover .dropdown {
    visibility: visible;
    opacity: 1;
}
.dropdown li {
    display: block;
}











































/* .home-btn{
  width: 130px;
  padding:15px;
  border:0;
  border-radius: 4px;
  text-transform: capitalize;
  font-size: 18px;
  cursor: pointer;
  background-color: rgb(79, 79, 210);
}
.home-btn2{
  background-color:aliceblue;
  color:black;
  margin-left: 12px;
}
.home-btn:hover{
  opacity: 0.8;
} */